html,
body {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  max-width: 550px;
  min-width: 500px;
  background-image: url("/img/headerBack.jpg");
  background-size: cover;
}

header {
  /* filter: brightness(50%); */
  /* background-image: url("/img/headerBack1.png");
  background-size: cover;
  -webkit-background-size: cover; */
  height: 40vh;
}

.headerText {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 40px;
  color: #ffffff;
  height: 100%;
}

main {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
