html,
body {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  max-height: 780px;
  max-width: 550px;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-extrabold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

header {
  /* background-image: url("/img/headerBack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -180px; */
  /* background: #000000; */
  position: relative;
  height: 208px;
  overflow: hidden;
}

header > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
}

.headerText {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 0 40px; */
  opacity: 100%;
  color: #ffffff;
  height: 80%;
  width: 100%;
  position: absolute;
  top: 50%;
  /* left: 10%; */
  transform: translate(0, -50%);
}

.headerText > h2 {
  font-size: 42.8px;
}

.container {
  max-width: 550px;
}

.startExplore {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #ffffff; */
}

.icon-msg {
  color: #dfdddd;
}

.btnWatchlist {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.formDiv {
  position: absolute;
  margin: -20px 0 0 0;
  display: block;
  width: 100%;
  opacity: 100%;
  margin: 0 auto;
  width: 300px;
  max-width: 550px;
}

.formDiv > form {
  display: flex;
  justify-content: center;
}

.formDiv > form > input {
  padding: 10px 10px;
  border: 1px solid #9ca3af;
  border-radius: 5px 0 0 5px;
  margin: 0;
  color: #6b7280;
}

.icon-msg {
  color: #dfdddd;
  font-size: 18px;
}

.searchBtn {
  padding: 10px 10px;
  margin: 0;
  border-radius: 0 5px 5px 0;
  border: 1px solid #9ca3af;
  border-left: 1px solid #000000;
  background-color: #ffffff;
  color: #374151;
}
