html,
body {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  max-height: 780px;
  max-width: 550px;
  background-image: url("/img/headerBack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -180px;
}

header {
  background-color: black;
  opacity: 50%;
  height: 208px;
}

.headerText {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 40px;
  opacity: 100%;
  color: #ffffff;
  height: 100%;
}

.startExplore {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
